
h2 {
  font-size: 20px;
}

button {
  border: none;
  margin-bottom: 10px;
}

#content {
     /* width: 91%; */
     margin-left: auto;
     margin-right: auto;
     margin-top: 100px;
     overflow-y: auto;
     height: 67vh;
     border: 2px solid lightgray;
}

.w-125px {
  width: 125px;
}

.w-250px {
    width: 250px;
}

.w-300px {
  width: 300px;
}

.w-75px {
    width: 75px;
}

.w-90 {
  width: 90%!important;
}

.mt-25px {
  margin-top: 25px;
}

.mt-50px {
  margin-top: 50px;
}

.mt-125px {
  margin-top: 125px;
}

.mt-150px {
  margin-top: 150px;
}

.mt-200px {
  margin-top: 200px;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-50px {
  margin-bottom: 50px!important;
}

.mb-100px {
    margin-bottom: 100px!important;
}

.mr-100px {
    margin-right: 100px;
}

.box {
  display: grid;
  width: 300px;
  grid-template-columns: 155px 249px;
  align-items: start;
  justify-content: space-between;
}

tr > td > div.bg-danger {
  height: 2.1rem;
  padding-top: 3px;
  border: 1px solid black;
  border-radius: 4px;
}

.submitbutton {
    /* display:block; */
    width:27px; height:27px;
    background-repeat:
    no-repeat;
    text-indent:-999px;
    font-size:0px; 
    line-height:0;
    border-color: darkgray;
    border-width: 1px;
    margin: auto;
}

.add-td {
  min-width: 200px;
  display:flex;
}

.editImage {
    background-image:url(../img/edit2.png);
}

.deleteImage {
    background-image:url(../img/delete.png); 
}

.upImage {
  background-image:url(../img/up_arrow.png);
}

.downImage {
  background-image:url(../img/down_arrow.png); 
}
.sessionsImage {
    background-image:url(../img/sessions.png)
}

.attendeesImage {
    background-image:url(../img/attendees.png)
}

.addItem {
    background-image:url(../img/PlusSmall.png)
}

.addAtt {
  color: darkgreen;
  font-weight: bold;
}

.addChk {
  background-color: lightgreen!important;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    top: 26px;
    height: 16.5rem;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

 .block-label {
    display: block;
  }

  .without_ampm::-webkit-datetime-edit-ampm-field {
    display: block;
  }

  .html-textarea {
    width: 80%;
    height:70vh;
  }
