#usercontent {
	background-color: transparent;
}

#badge_input {
	width: 100px;
}

.comment-text,
#badge_input,
#last_name,
#first_name,
#phone,
#email {
	background-color: transparent;
	height: 45px;
	border-radius: 8px!important;
}

.signup-submit {
	background-color: #007bff!important;
}

.button-signup {
	background-color: transparent!important;
	color: black!important;
	font-weight: bold;
}

.button-signup:hover {
	border-radius: 15px;
}

.mw-800px {
	max-width: 800px!important;
}

.border-top3 {
	border-top: 2px solid black;
}

.border-left3 {
	border-left: 3px solid black;
}

.border-right3 {
	border-right: 3px solid black;
}

.border-bottom2 {
	border-bottom: 2px solid gray!important;
}

.bg-lightsteelblue {
	background-color: lightsteelblue;
}