#usercontent {
	background-color: transparent;
}

.button-signup {
	background-color: transparent!important;
	color: black!important;
	font-weight: bold;
}

.button-signup:hover {
	border-radius: 15px;
}

.mw-800px {
	max-width: 800px;
}

.border-top3 {
	border-top: 2px solid black;
}

.border-left3 {
	border-left: 3px solid black;
}

.border-right3 {
	border-right: 3px solid black;
}

.border-bottom2 {
	border-bottom: 2px solid gray!important;
}

.bg-lightsteelblue {
	background-color: lightsteelblue;
}