.selection-font {  
    font-size: 20px;
	font-weight: 600;
    color: black;
}
/* responsive, form small screens, use 13px font size */
@media (max-width: 1000px) {
    .selection-font {
        font-size: 13px;
		font-weight: 600;
		color: black;
    }

	.date-row {
		border-top: 3px solid black;
		border-left: 3px solid black;
		border-right: 3px solid black;
		border-bottom: 2px solid gray!important;
		background-color: lightsteelblue;
		border-radius: 10px;
		color:'black'; 
		font-size:16px;
	}
}

#usercontent {
	background-color: transparent;
}

#badge-input {
	width: 100px;
	background-color: transparent;
	height: 45px;
	border-radius: 8px!important;
}

.validate,
.comment-text,
#last-name,
#first-name,
#phone,
#email,
table#new-member > tbody > tr > td > input {
	background-color: transparent;
	height: 45px;
	border-radius: 8px!important;
	border-width: 1px;
    border-color: lightgray;
}

.bg-lg {
	background-color: lightgray;
}

.signup-submit {
	background-color: #007bff!important;
}

.button-signup {
	background-color: transparent!important;
	color: black!important;
	font-weight: bold;
}

.button-signup:hover {
	border-radius: 15px;
}

.mw-800px {
	max-width: 800px!important;
}

.border-top3 {
	border-top: 2px solid black;
}

.border-left3 {
	border-left: 3px solid black;
}

.border-right3 {
	border-right: 3px solid black;
}

.border-bottom2 {
	border-bottom: 2px solid gray!important;
}

.bg-lightsteelblue {
	background-color: lightsteelblue;
}

.bg-lightgray {
	background-color: lightgreen;
}

.opacity-33 {
	opacity: .33;
}

.date-row {
	border-top: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 2px solid gray!important;
	background-color: lightsteelblue;
	border-radius: 10px;
	color:'black'; 
	font-size:28px;
}

.submit-row {
	border-top: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 2px solid gray!important;
	background-color: rgb(136, 170, 156);
	border-radius: 10px;
}

.footer-row {
	border: 3px solid black;
	background-color: lightsteelblue;
}

.attendee-row {
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 2px solid gray!important;
}

button.button-signup {
	width: 100%;
}

button.button-signup > i > u {
	color: blue;
}

table#signup-select {
    border-collapse:separate;
    border:solid black 4px;
    border-radius:12px;
}

table#signup-select > tbody > tr:nth-child(even) {
	background-color: lightgray;
}

table#lookup-member,
table#new-member,
table#new-member > tbody > tr > td,
table#lookup-member > tbody > tr > td,
table#signup-select > tbody > tr > td {
	border:none;
}

.rolling-add-chk:enabled {
	outline: 2px solid #1e5180;
	box-shadow: 2px 2px 2px, -2px -2px 2px, -2px 2px 2px, 2px -2px 2px;
}

.rolling-remove-chk {
	outline: 2px solid #FF0000!important;
	box-shadow: 2px 2px 2px, -2px -2px 2px, -2px 2px 2px, 2px -2px 2px!important;
}

input[type='radio'] { 
	transform: scale(2); 
}
  