
.instruct ol,
.instruct ul {
	margin-bottom: 10px;
}

.instruct ul {
	list-style-type: disc;
    color: black;
}

.instruct p {
	margin: 0 0 5px;
	font-size: 16px;
}

.mb-50px {
	margin-bottom: 50px!important;
}

.selection-font {  
    font-size: 20px;
	font-weight: 600;
    color: black;
}

#selection-table {
	width: 100%;
}

#usercontent {
	background-color: transparent;
}

#badge-input {
	width: 100px;
	background-color: transparent;
	height: 39px;
	border-radius: 8px!important;
}

#rolling-days {
	font-size: 16px;
}

.rolling-days-select {
	font-size: 18px;
	font-weight: bold;
}

.validate,
.comment-text,
#last-name,
#first-name,
#phone,
#email,
#user-edit-id,
table#new-member > tbody > tr > td > input {
	background-color: transparent;
	height: 45px;
	border-radius: 8px!important;
	border-width: 1px;
    border-color: lightgray;
}

.bg-lg {
	background-color: lightgray;
}

.signup-submit {
	background-color: #007bff!important;
}

.button-signup {
	background-color: transparent!important;
	color: black!important;
	font-weight: bold;
}

.h-65px {
	height: 65px;
}

.button-signup:hover {
	border-radius: 15px;
}

.mw-800px {
	max-width: 800px!important;
}

.border-top3 {
	border-top: 2px solid black;
}

.border-left3 {
	border-left: 3px solid black;
}

.border-right3 {
	border-right: 3px solid black;
}

.border-bottom2 {
	border-bottom: 2px solid gray!important;
}

.bg-lightsteelblue {
	background-color: lightsteelblue;
}

.bg-lightgreen {
	background-color: lightgreen;
}

.bg-lightgray {
	background-color: rgb(181, 184, 181);
}

.opacity-33 {
	opacity: .33;
}

.date-row {
	border-top: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 2px solid gray!important;
	background-color: lightsteelblue;
	border-radius: 10px;
	color:'black'; 
	font-size:28px;
}

.submit-row-grid {
	display: grid;
	width: 80%;
	grid-template-columns:   50% 50%;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}

.submit-row {	
	border-top: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 2px solid gray!important;
	background-color: rgb(136, 170, 156);
	border-radius: 10px;
}

.footer-row {
	border: 3px solid black;
	background-color: lightsteelblue;
}

.attendee-row {
	border-left: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 2px solid gray!important;
}

button.button-signup {
	width: 100%;
}

button.button-signup > i > u {
	color: blue;
}

table#signup-select {
    border-collapse:separate;
    border:solid black 4px;
    border-radius:12px;
}

table#signup-select > tbody > tr:nth-child(even) {
	background-color: lightgray;
}

table#lookup-member,
table#new-member,
table#new-member > tbody > tr > td,
table#lookup-member > tbody > tr > td,
table#signup-select > tbody > tr > td {
	border:none;
}

.remember-me-chk:enabled,
.rolling-add-chk:enabled {
	outline: 2px solid #1e5180;
	box-shadow: 2px 2px 2px, -2px -2px 2px, -2px 2px 2px, 2px -2px 2px;
}

.remove-chk,
.rolling-remove-chk {
	outline: 2px solid #FF0000!important;
	box-shadow: 2px 2px 2px, -2px -2px 2px, -2px 2px 2px, 2px -2px 2px!important;
}

.add-chk {
	outline: 2px solid #00ff00!important;
	box-shadow: 2px 2px 2px, -2px -2px 2px, -2px 2px 2px, 2px -2px 2px!important;
}

.remove-chk {
	outline: 2px solid #ff0000!important;
	box-shadow: 2px 2px 2px, -2px -2px 2px, -2px 2px 2px, 2px -2px 2px!important;
}

input[type='radio'] { 
	transform: scale(2); 
}

.w-100pr {
	width:100%
}

.instructor {
	color: blue;
}

.report-form button,
.email-button {
	background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif; /* Use an OS-specific font-family for consistency */
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

#send-email {
	display: grid;
	width: 80%;
	grid-template-columns:   20% 80%;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}

.attendees_list {
	display: grid;
	grid-template-columns:   30% 30% 33% 7%;
	text-align: left;
	font-size: large;
}

.submit-block {
	display: grid;
	width: 80%;
	grid-template-columns:   50% 50%;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}

.cnc-query-params {
	display: grid;
	width: 1000px;
	grid-template-columns:   34% 33% 33%;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}

.cnc-user-list {
	display: grid;
	width: 1000px;
	grid-template-columns:   10% 10% 23% 12% 10% 20% 20%;
	align-items: start;
	justify-content: space-between;
}

.cnc-report-list {
	display: grid;
	width: 1000px;
	grid-template-columns: 15% 15% 30% 15% 15% 10%;
	align-items: start;
	justify-content: space-between;
}
.signup-category-list {
	display: grid;
	width: 100%;
	grid-template-columns: 25% 25% 25% 25%;
	align-items: start;
	justify-content: space-between;
}

.rolling-exception-list {
	display: grid;
	width: 80%;
	max-width: 1000px;
	grid-template-columns: 8% 23% 23% 23% 13%;
	align-items: start;
	justify-content: space-between;
}

.return-or-logout {
	display: grid;
	width: 80%;
	max-width: 1000px;
	grid-template-columns: 15% 30% 10% 30% 15%;
	align-items: start;
	justify-content: space-between;
}

.class-description-box {
	width: 80%;
    max-width: 1100px;
	margin-left: 60px;
	display: grid;
	grid-template-columns: 13% 18% 13% 18% 13% 18%;
	align-items: start;
}

.description-box {
	width: 80%;
    max-width: 1100px;
	display: grid;
	grid-template-columns: auto 80%;
	align-items: start;
	color: rgb(102,102,102) !important;
}

.new-member-form {
	width: 80%;
    max-width: 1100px;
	display: grid;
	grid-template-columns: 40% 60%;
	align-items: start;
	font-weight: bold;
	font-size: 18px;
}

.title-category-box {
	display: grid;
	width: 1000px;
	grid-template-columns: 15% 52% 12% 21%;
	align-items: start;
	justify-content: space-between;
}
.payment-items {
	display: grid;
	width: 80%;
	grid-template-columns: 10% 12% 6% 15% auto 5% 5%;
	align-items: start;
}

.custom-alert {
	position: fixed;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 28px;
	font-weight: bold;
}


/* .payment-items div {
	border: 1px solid black;
} */

.html-font {
	color: black;
    font-weight: 600;
}

.description-block {
	font-size: 16px;
	color:black;
}

.label-margin-top {
	margin-top: .8rem;
}

#description_description {
	height: 20rem;
}

.html-textarea {
    width: 80%;
    height:70vh;
}

.h-2rem {
	height: 2rem;
}

/*
input[type=time]::-webkit-datetime-edit-ampm-field { display: none; }
*/
.without_ampm::-webkit-datetime-edit-ampm-field {
	display: none;
}
/*
input[type=time]::-webkit-clear-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance:none;
	appearance: none;
	margin: -10px; 
  }
  */

.description-box ::placeholder,
.class-description-box ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

.description-box ::placeholder,
.class-description-box :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

.description-box ::placeholder,
.class-description-box ::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

.category-text {
	font-size: 20px;
	font-weight: bold;
}

/* CKEditor styles go here */
.wrap-image {
	text-align: justified;
    background : url(../desktop/background.gif);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.wrap-image figure {
	margin: 1em;
}

.wrap-image img {
	float: left;
	padding: 10px;
}

.wrap-image p {
	position: relative;
}
.image {
 text-align: center;
} 

.image-style-block-align-left {
	text-align: left;
}

.image-style-block-align-right {
	text-align: right;
}

.new-member-form input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 800px) {
	.category-text {
		font-weight: bold;
		font-size: 18px;
	}
	.selection-font {
        font-size: 22px;
		font-weight: 600;
		color: black;
    }

	.date-row {
		border-top: 3px solid black;
		border-left: 3px solid black;
		border-right: 3px solid black;
		border-bottom: 2px solid gray!important;
		background-color: lightsteelblue;
		border-radius: 10px;
		color:'black'; 
		font-size:16px;
	}

	.signup-category-list {
		display: grid;
		width: 100%;
		grid-template-columns: 50% 50%;
		align-items: start;
		justify-content: space-between;
	}

	.class-description-box {
		width: 80%;
		max-width: 1100px;
		margin-left: 60px;
		display: grid;
		grid-template-columns: 20% 30% 20% 30%;
		align-items: start;
	}
}

@media (min-width: 1200px) {
	.container {
    	max-width: 100%;
	}
}
